.success-snackbar {
  background-color: #16a34a !important; /* green */
  color: #fff !important;
  font-weight: 500;
}

.error-snackbar {
  background-color: #dc2626 !important; /* red */
  color: #fff !important;
  font-weight: 500;
}
